/* Custom */

.blockquote-footer {
  background: none;
  padding: 0;
  margin-bottom: 1rem;
}

.card-header {
  border: none;
}

.logo-link {
  padding: 5px;
}

.logo-small {
  width: 40px;
  display: inline-block;
}

.center {
  margin: 0 auto;
  width: 50%;
  display: inline-block;
}

.portrait {
  margin: 0 auto;
  width: 75%;
  display: inline-block;
  border-radius: 10px;
}

.padding {
  padding: 1rem 2rem;
}

.max-width {
  /* width: 75vw; */
  max-width: 1200px;
}

.no-list-style {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .max-width {
    width: 75vw;
    /* padding: 1rem 2rem; */
  }
}
/* Top Navbar */

.navbar {
  font-weight: 600;
}

/* Home and Team Cards */

.card {
  border: none;
}

.card-header {
  background: none;
}

.carousel .thumb {
  border: 1px dotted grey;
}

.carousel .thumb.selected {
  border: 3px solid red;
}
/* About */

.about.container {
  margin-left: 0;
  font-size: 1.2rem;
}

.about .toc ul {
  padding: 0 0 0 1rem;
  list-style: none;
}

.about ol > li {
  padding: 2px 0;
  font-size: 1.2rem;
}

.about .toc ul li {
  font-size: 1rem;
  padding: 1px 0;
}

/* Footer */

.page-footer {
  margin-top: 2.5rem;
  padding: 0 0 1rem 0;
  background: #111111;
  color: #fff;
}

.page-footer .logo-link {
  display: inline-block;
  margin-bottom: 1rem;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-width: 1px 0;
  margin: 18px 0;
  width: 100%
}
/*  */

.documentation {
  font-family: Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
  background: #f5f5f5;
}

.black {
  color: #666;
}

.bg-white {
  background-color: #fff;
}

h4 {
  margin: 20px 0 10px 0;
}

.documentation h3 {
  color: #000;
}

.border-bottom {
  border-color: #ddd;
}

a {
  color: #1184CE;
  text-decoration: none;
}

.documentation a[href]:hover {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.py1-ul li {
  padding: 5px 0;
}

.max-height-100 {
  max-height: 100%;
}

.height-viewport-100 {
  height: 100vh;
}

section:target h3 {
  font-weight:700;
}

.documentation td,
.documentation th {
    padding: .25rem .25rem;
}

h1:hover .anchorjs-link,
h2:hover .anchorjs-link,
h3:hover .anchorjs-link,
h4:hover .anchorjs-link {
  opacity: 1;
}

.fix-3 {
  width: 25%;
  max-width: 244px;
}

.fix-3 {
  width: 25%;
  max-width: 244px;
}

@media (min-width: 52em) {
  .fix-margin-3 {
    margin-left: 25%;
  }
}

.pre, pre, code, .code {
  font-family: Source Code Pro,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 14px;
}

.fill-light {
  background: #F9F9F9;
}

.width2 {
  width: 1rem;
}

.input {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 2rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  font-size: .875rem;
  border-radius: 3px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.prose table th,
.prose table td {
  text-align: left;
  padding:8px;
  border:1px solid #ddd;
}

.prose table th:nth-child(1) { border-right: none; }
.prose table th:nth-child(2) { border-left: none; }

.prose table {
  border:1px solid #ddd;
}

.prose-big {
  font-size: 18px;
  line-height: 30px;
}

.quiet {
  opacity: 0.7;
}

.minishadow {
  box-shadow: 2px 2px 10px #f3f3f3;
}

.learn-more p {
  margin: 0 0 5px 0;
  font-size: 18px;
  letter-spacing: 0.2rem;
}

.learn-more i {
  margin-top: 0;
}

.download-links div {
  padding: 0 20px;
}

.download-links div a {
  margin: 10px;
}

.icon-link {
  height: 48px;
}

.icon-link i {
  margin-top: -5px;
}

.subtext {
  padding-top: 10px;
  font-size: 12px;
  margin-bottom: 0;
}

.section.footer {
  padding: 20px 0;
}

.section.about {
  padding-top: 40px;
  padding-bottom: 0px;
}

.section blockquote {
  padding: 0 15%;
}

.about {
  /* background: rgb(240, 240, 240); */
}

.about p {
  text-align: justify;
  line-height: 1.8rem;
  font-size: 20px;
}

.card-image {
  max-width: 120px;
}
