
@media (min-width: 52em) {
  .turtle-padding {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
  }
}

.about p, .turtle-padding .about ul li {
  line-height: 1.8rem;
  font-size: 20px;
  text-align: justify;
}

h2 + p {
  margin-top: 2rem;
}

h3 {
  font-size: 24px;
  margin-top: 1.5rem;
  font-weight: 500;
  color: #313131;
}

h3 + p {
  margin-top: 1rem;
}

h4 {
  font-size: 22px;
  margin-top: 1rem;
}

.about .w-100 {
  margin: 4rem 0;
}

:first-of-type pre {
  background-color: #F9F9F9;
}

.img-container {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.img-style {
  display: inline-block;
  max-width: 100%;
}
